doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title Reset your password
  body
    table.body-wrap
      tr
        td
        td.container(width="600")
          .content
            table.main(width="100%", cellpadding="0", cellspacing="0")
              tr
                td.content-wrap
                  table(width="100%", cellpadding="0", cellspacing="0")
                    tr
                      td.content-block
                        | Greetings #{name},
                    tr
                      td.content-block
                        | Click the button below to reset your account password.
                    tr
                      td.content-block
                        a.btn-primary(href=link) Reset

                    if signature
                      tr
                        td.content-block= signature

            if footer
              .footer
                table(width="100%")
                  tr
                    td.aligncenter.content-block= footer
        td
