doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(name="viewport", content="width=device-width")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    title= title
  body
    table.body-wrap
      tr
        td
        td.container(width="600")
          .content
            table.main(width="100%", cellpadding="0", cellspacing="0")
              tr
                td.alert.alert-warning= alert
              tr
                td.content-wrap
                  table(width="100%", cellpadding="0", cellspacing="0")
                    mixin contentBlock(c)
                      tr
                        td.content-block= c
                    mixin actionBlock(a)
                      tr
                        td.content-block
                          a.btn-primary(href=a.href)= a.text

                    if content
                      if Array.isArray(content)
                        each c in content
                          +contentBlock(c)
                      else
                        +contentBlock(content)

                    if action
                      if Array.isArray(action)
                        each a in action
                          +actionBlock(a)
                      else
                        +actionBlock(action)

                    if signature
                      tr
                        td.content-block= signature

            if footer
              .footer
                table(width="100%")
                  tr
                    td.aligncenter.content-block= footer
        td
